/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-dark: #6e74ea;
}

.flex p{
  display: flex;
  flex-wrap: wrap;
}

.flex p img {
  margin-right: 5px;
}

html {
  overflow-y: scroll;
}