/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #348ba0;
  --vp-c-brand-dark: #348ba0;
  --vp-button-brand-active-bg: #348ba0;
}

.flex p {
  display: flex;
  flex-wrap: wrap;
}

.flex p img {
  margin-right: 5px;
}

html {
  overflow-y: scroll;
}
