/* .vitepress/theme/custom.css */
:root {
  --maincolor: #348ba0;
  --vp-c-brand: var(--maincolor);
  --vp-c-brand-dark: var(--maincolor);
  --vp-button-brand-active-bg: var(--maincolor);
  --vp-button-brand-border: var(--maincolor);
  --vp-button-brand-hover-border: var(--maincolor);
}

.flex p {
  display: flex;
  flex-wrap: wrap;
}

.flex p img {
  margin-right: 5px;
}

html {
  overflow-y: scroll;
}

.medium-zoom-image {
  z-index: 9999 !important;
}